{{> head}}

{{> navbar}}
<div class="row">
    <div class="col-8">
        <h1>Cromartic</h1>
        <p>Página web</p>
    </div>
    <div class="col-4">
        <img src="assets/img/logo.png" class="img-thumbnail"></img>
    </div>
</div>

{{> footer}}
